{% extends "base.html" %}

{% block content %}

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
        <h4> Christopher B Martin developed GamerVapor while a Data Science Fellow at Insight.   </h4>
        
        <p class="lead text-muted"> 166m (65%) American adults play video games, and most play on their PC. Steam is the most popular PC gaming digital distribution marketplace, controlling 75% of the market. It is also unique because it is also an online community with profiles, friends, posts, and awards. ‘GamerVapor’ is a tool for community managers and marketing experts to identify and diagnose users likely to churn from the platform so that they can take actions keep specific users engaged. This tool uses modern machine learning techniques to understand how information about the individual, their relationships to other users, and their platform use can predict users likely to churn. Further, it will score their community to aid in prioritizing what users to target and recommend specific actions such as ‘add a new friend’ which will have the greatest impact for each individual.</p>
        </div>
      </section>
     

    </main>

{% endblock %}
