
{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cover.css') }}">

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

 
          <div class="inner cover">
            <h1 class="cover-heading">Contact</h1>
            <p class="lead">Christopher B Martin, Ph.D. </p>
            <p class="lead">
              <a href="https://www.linkedin.com/in/chmartinprof/" class="btn btn-lg btn-default">LinkedIn</a>
              <a href="https://github.com/chmartin" class="btn btn-lg btn-default">Github</a>
              <a href="https://chmartin.github.io/" class="btn btn-lg btn-default">Blog</a>
              <a href="https://chmartin.web.cern.ch/chmartin/Chris_Martin/" class="btn btn-lg btn-default">Personal</a>
              
            </p>
            
          </div>


        </div>

      </div>


{% endblock %}

